body * {
    font-family: 'Hammersmith One', sans-serif;
}
body, html {
    height: 100%;
}
#home-image {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 10px solid #fff;
    z-index: 999999;
}
#bg-blur-image {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/24/20/30/architecture-1857175_1280.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    padding: 60px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}
#home-wrapper h1 {
    margin-bottom: 0;
}
body .social-block {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
body .social-block .social-link {
    display: block;
    width: 30px;
    margin: 0 10px;
}
body .social-block .social-link svg {
    fill: #fff;
}
#cv {
    height: 30px;
}
@media(min-width: 767px) {
    .hide-on-mobile {
        display: inline;
    }
    .show-on-mobile {
        display: none;
    }
}
@media(max-width: 766px) {
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: block;
    }
}
